#layercontainer {
  display:grid;
  grid-auto-flow: column; 
}

.col-controls {
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.button-ol-control {
    margin-left:0px !important;
    margin-right:0px !important;
    margin-bottom: 5px;
    display: block;
    width: 100%;
}

#labellayeroptions {
    font-weight: bold;
}
.wmslayer {
    padding: 5px !important;
    margin-right: 5px;
    margin-top: 2px !important;
    margin-bottom: 3px !important;
    border-radius: 12px;
}

.oltextboxcontent-disable {
    background-color: #C9E3EA !important;
    cursor:default;
}

.oltextboxcontent-enable {
    background-color: #E4E4E4 !important;
    cursor:copy;
}
